services:
  app:
    build: .
    container_name: shortener_app
    restart: always

    environment:
      - PORT=3000
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis

  
  redis:
    image: redis:7-alpine
    container_name: shortener_redis
    restart: always
    volumes:
      - redis_data:/data

 
  nginx:
    image: nginx:alpine
    container_name: shortener_nginx
    restart: always
    ports:
      - "80:80" 
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app

volumes:
  redis_data: